<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
</head>
<body>
	{$content}<br/>
	<!-- 数组可以使用下标，也可以使用. -->
	{$arr['name']}
	{$arr.name}<br/>
	<!-- 存取对象成员属性可以使用：可以使用-> -->
	{$obj:password}
	{$obj->password}
	<!-- DS 当前系统的目录分隔符
THINK_PATH 框架系统目录
ROOT_PATH -->
	{$Think.THINK_PATH}<br/>
	{$Think.APP_PUBLIC}<br/>
	{$Think.config.app_namespace}<br/>
	{$Request.get.id}<br/>
	{$Request.param.name|strtoupper}
	{if empty($Think.session.uid)}
		未登录
	{/if}
	<?php echo (md5('1233')); ?>

	{foreach $data as $value}
		{$value:name}-----{$value:password}<br/>
	{/foreach}<br/>
	{for start="1" end="100"}
	{$i}
	{/for}<br/>
	{if 8}
		我在真区间
	{else}
	   我在假区间
	{/if}
	<?php echo 'hello';?>


</body>
</html>