<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/admin/css1/style.css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="/static/admin/js1/jquery.js"></script>
<script src="/static/admin/js1/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<header>
 <h1><img src="/static/admin/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="#" class="admin_icon">{$data}</a></li>
  <li><a href="login.html" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="/admin/index/index">起始页</a></h2>
 <ul>
   {if $role == 1 || $role == 0}
  <li>
   <dl>
    <dt>商品信息</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="/admin/product/product_list" >商品列表</a></dd>
    <dd><a href="/admin/product/product_detail">添加商品</a></dd>
   </dl>
  </li>
  {else}
  {/if}
  {if $role == 2 || $role == 0}
  <li>
   <dl>
    <dt>订单信息</dt>
    <dd><a href="/admin/orderdin/order_list">订单列表</a></dd>
   </dl>
  </li>
  {else}
  {/if}
  {if $role == 0}
  <li>
   <dl>
    <dt>会员管理</dt>
    <dd><a href="/admin/user/user_list">会员列表</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>管理员管理</dt>
    <dd><a href="/admin/user/user_list">管理员列表</a></dd>
    <dd><a href="/admin/adminuser/admin_detail">添加管理员</a></dd>
   </dl>
  </li>
  {else}
  {/if}
  <li>
   <p class="btm_infor">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单详情示例</h2>
       <a href="/admin/orderdin/order_list" class="fr top_rt_btn add_icon">返回列表</a>
      </div>
      <table class="table">
      {foreach $din as $vall}
       <tr>
        <td>收件人：{$vall['consignee']}</td>
        <td>联系电话：{$vall['mobile']}</td>
        <td>收件地址：{$vall['address']}</td>
        <td>{if !empty ($vall['shipping_time'])}
        发货时间：{$vall['shipping_time']|date="Y-m-d H:i:s",###}
        {else}
        发货时间：---
        {/if}
        </td>
       </tr>
       <tr>
        <td>下单时间：{$vall['add_time']|date="Y-m-d H:i:s",###}</td>
        <td>{if !empty ($vall['pay_time'])}
        付款时间：{$vall['pay_time']|date="Y-m-d H:i:s",###}
        {else}
        付款时间：---
        {/if}
        </td>
        <td>{if !empty ($vall['confirm_time'])}
         确认时间：{$vall['confirm_time']|date="Y-m-d H:i:s",###}
        {else}
        确认时间：---</td>
        {/if}
        <td>评价时间时间：---</td>
       </tr>
       <tr>
        <td>订单状态：<a>{if $vall['pay_status'] == 0}待付款
        {else}已付款,
        {/if}
        {if $vall['shipping_status'] == 0}未发货
        {else}{if $vall['shipping_status'] == 1}已发货
        {else}确认收货
        {/if}
        {/if}
        </a></td>
        <td colspan="3">订单备注：<mark>{$vall['user_note']}</mark></td>
        </tr>
        {/foreach}
      </table>
      <table class="table">
       {foreach $dinnn as $valll}
       <tr>
        <td>{$valll['goods_name']}</td>
        <td class="center">{$valll['goods_sn']}</td>
        <td class="center"><strong class="rmb_icon">{$valll['goods_price']}</strong></td>
        <td class="center">
         <p>{$valll['spec_key_name']}</p>
        </td>
        <td class="center"><strong>{$valll['goods_num']}</strong></td>
        <td class="center"><strong class="rmb_icon">{$valll['goods_price'] * $valll['goods_num']}</strong></td>
        <td class="center">
        {foreach $din as $valee}
          {if $valee['shipping_status'] == 0}未发货
        {else}已发货
        {/if}
        {/foreach}
        </td>
       </tr>      
       {/foreach}
      </table>
      
      {foreach $din as $valee}
      <form action="wuliudan?id={$valee['order_id']}" method="post">
      <aside class="mtb" style="text-align:right;">
      
      物流单号：<input type="text" value="{$valee['wuliu']}" name="wu" id="hao" class="group_btn"/>
      <input type="button" value="物流查询"  id="wukuai" class="group_btn"/>
 <!--       <a href="order_xiu"><input type="submit" value="修改订单" class="group_btn"/></a> -->
      {if $valee['pay_status'] == 0}
      <a href="order_xiu?id={$valee['order_id']}"><input type="button" value="修改订单"  class="group_btn"/>
      <input type="button" value="等待付款"  class="group_btn"/>
      {else}{if $valee['shipping_status'] == 0}
        <input type="submit" value="确认发货" class="group_btn"/>
      {else}
      {/if}
      {/if}
      </aside>
      </form>
      {/foreach}
      <div>
        <table class="table" id="userInfo">
        </table>
      </div>
 </div>
</section>
</body>
<script type="text/javascript">
$('#wukuai').click(  
  function(){
    var hao = $("#hao").val();
    $.post(
      'kuaidi',
      {hao:hao},
      function success(data)
      { 
        
           var a = (data['result']['list']);
           for (var i = 0; i < a.length; i++) {
            var $claa = a[i]['status'];
            var $cla = a[i]['time'];
            $("#userInfo").append("<tr><td>"+$cla+''+$claa+"</td></tr>");
         
        }
          
        
      }    
    )
  }
);
</script>
</html>
